/*==================================================
    BODY
==================================================*/

body {

    background: var(--paper);

    color: var(--ink);

    overflow-x: hidden;

    position: relative;

}

body::before{

    content:"";

    position:fixed;

    inset:0;

    pointer-events:none;

    opacity:.18;

    background-image:

        radial-gradient(circle at 20% 20%,rgba(0,0,0,.03) 1px,transparent 1px),

        radial-gradient(circle at 80% 40%,rgba(0,0,0,.025) 1px,transparent 1px),

        radial-gradient(circle at 60% 80%,rgba(0,0,0,.03) 1px,transparent 1px);

    background-size:

        120px 120px,

        170px 170px,

        210px 210px;

}