/*==================================================
    HEADER
==================================================*/

.header {

    padding-top: var(--space-32);

}

.header__title {

    text-align: center;

}

.header__subtitle {

    font-family: var(--ff-body);

    font-size: clamp(1.5rem, 3vw, 2.5rem);

    line-height: 1.2;

    text-align: center;

    max-width: 60%;

    margin: 0 auto 1rem auto;

}

.nav {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

#nav {

    margin-top: var(--space-48);

    border-block: var(--border-thin);

}

.nav .link {

    height: 200px;

    display: flex;

    justify-content: center;

    align-items: center;

    font-family: var(--ff-mono);

    font-size: var(--fs-40);

    letter-spacing: .15em;

    text-transform: uppercase;

    border: var(--border-thin);

}

.nav .link:hover {

    background-color: black;

    color: var(--paper);

}