.post-container {

    max-width: clamp(337px, 49.4vw + 152px, 864px);

    margin: var(--space-32) auto;

}

.post-container a {

    margin-bottom: var(--space-32);

}

@media (max-width: 400px) {

    .post-container a {

        display: flex;

        justify-content: center;

        align-items: center;

    }

}

.post-container h1 {

    text-align: center;

    font-size: clamp(1.80rem, calc(1.636rem + 0.818vw), 2.25rem);

    font-weight: 100;

}

.post-container h1,
img {

    margin-bottom: var(--space-48);

}

.post-container p {

    white-space: pre-wrap;

    font-size: var(--fs-20);

}