.post-container {

    max-width: 60vw;

    margin: var(--space-32) auto;

}

@media (width <= 1024px) {

    .post-container {

        max-width: 85vw;

        padding-inline: var(--padding-page);

    }

}

@media (width <= 1024px) {

    .post-container {

        max-width: 90vw;
        
        padding-inline: var(--padding-page);

    }

}

.post-container a {

    margin-bottom: var(--space-32);

}

@media (max-width: 400px) {

    .post-container a {

        display: flex;

        justify-content: center;

        align-items: center;

    }

}

.post-container h1 {

    text-align: center;

    font-size: clamp(1.80rem, calc(1.636rem + 0.818vw), 2.25rem);

    font-weight: 100;

}

.post-container h1,
img {

    margin-bottom: var(--space-48);

}

.post-container p {

    white-space: pre-wrap;

    font-size: var(--fs-20);

}